*{
    padding: 0;
    margin: 0;
}

#inner-container{
display: flex;
flex-direction: column;
margin-top: 20vh;
align-items: center;
}


.iframe{
    height:37vh;
    transition: box-shadow 0.3s ease-in-out;
    
}
.iframe:hover{
    box-shadow: 0 0 20px rgb(5, 149, 142);
}

h2, p{
    color: black;
    margin-bottom: 5vh;
    cursor: pointer;
}

h1{
    position: absolute;
    left: 45vw;
    top: 4vh;
    
}

 a{
    text-decoration: none;
    
}

.learn{
   

  transition: transform 0.5s;
 
}

.a:hover + .learn{
  
    transform: translate(2vw, 0px);
    
   
}

.a:not(:hover) + .learn {
   
    transform: translate(-10000px, 0px);
  }