@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 1, 39);
    color: black;
    text-decoration: none;
}



.form{
    position: absolute;
    top: 2vw;
    left: 30vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
     background: rgba(255, 255, 255,0.1);
     border-radius: 16px;
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(3px);
}


/* Contact me! */
.contactMe{
    font-size: 3.4vw;
    position: relative;
    left: 15vw;
    
}

/* Sidebar code */
  
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
  
}

.sidebar{
    position: absolute;
    z-index: 99;
    width: 14vw;
    height: 100vh;
    background-color:black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    transition: transform 0.5s;
}
nav{
    padding: 2vh;
margin-left: 1vh;
}
.sidebar nav li{
    list-style-type: none;
    padding-top: 10vh;
  
}
.sidebar li a{
    text-decoration: none;
    color: #0ef;
   
    
    padding: 1vw;
    border-radius: 1.2vh;
    font-weight: bold;

    transition: all 0.2s ease-out;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
  
}

.sidebar nav li :hover{
   
    font-weight: bold;
    color: white;
 
    
 }






.name{
   
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    
    
}
.about{
    font-size: 23px;
   
}
.btn{
    display: flex;
}

div button {
    padding: 8px;
    border-radius: 23px;
    background-color: cadetblue;
    color: white;
    border: 1px solid cadetblue;
    font-weight: bold;
    
}
.btn button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;

}



.form-mail{
    font-size: 1.8em;
}
.form-phone{
    font-size: 1.8em;
}
.form-name{
    font-size: 1.8em;
}
.mb-3{
    display: grid;
    margin: 29px;
}
#email-help{
    margin-top: 12px;
}

.btn-primary{
    margin: 30px;
}
.form-control{
    font-size: 29px;
    width: 40vw;
}
.mb-3_form-check{display: flex;
    flex-direction: row;
    margin-left: 30px;
}


.symbol{
    position: fixed;
    top: 10px;
    left: 10px;
    cursor:pointer;
}



.form_elements{
margin-left:2vw;

}

#sub_btn:hover{
    box-shadow: 0 0 20px rgb(5, 145, 147);
    background-color: white;
    color: black;
}








 