@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container2{
    background-image: url("images/contact_background.png");
    height: 70%;
    width: 60%;
    float: left;
    background-size: cover;
    margin-left: 7vw;
    margin-top: 10vh;
   
}



.container3{

    position: relative;
    top: 30%;
    left: 10%;
}
/* Contact me! */
.contactMe{
    font-size: 250%;
    position: absolute;
    left: 40%;
    
}




/* Sidebar code */
  
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
  
}

.sidebar{
    position: absolute;
    z-index: 99;
    width: 14vw;
    height: 100vh;
    background-color:black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    transition: transform 0.5s;
}
nav{
    padding: 2vh;
margin-left: 1vh;
}
.sidebar nav li{
    list-style-type: none;
    padding-top: 10vh;
  
}
.sidebar li a{
    text-decoration: none;
    color: #0ef;
   
    
    padding: 1vw;
    border-radius: 1.2vh;
    font-weight: bold;

    transition: all 0.2s ease-out;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
  
}

.sidebar nav li :hover{
   
    font-weight: bold;
    color: white;
 
    
 }





  

.about{
    font-size: 23px;
   
}


div button {
    padding: 8px;
    border-radius: 23px;
    background-color: cadetblue;
    color: white;
    border: 1px solid cadetblue;
    font-weight: bold;
    
}
.btn button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;

}





@media (max-width: 768px) {
    .container2 {
        width: 90%;
        margin-left: 5%;
    }
}




 