*{
    margin: 0;
    padding: 0;
   

}

h1{
    position: absolute;
    left: 20vw;
    top: 30vh;
   font-size: 15vh;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  
  
}
h2{
    position: absolute;
    top: 124vh;
    
   font-size: 10vh;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  
}
span{
    font-size: 6vh;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
 overflow: hidden;
}
.parallax{
    height: 150vh;
    display: flex;
    justify-content: center;
}
body{
   
    overflow-x: hidden;
    min-height: 100vh;
    
}

.content{
    display: grid;
    grid-template-columns: auto auto auto;
  background-color: transparent;


}

.navbar{
    position: absolute;
    top: -70vh;
    left: -39vw;
    font-weight: 40px;
}

